
.main {
  display: grid;
  gap: 20px;
  padding: 20px;
}


@media (max-width: 599px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (min-width: 600px) and (max-width: 899px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 900px) and (max-width: 1199px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
  }
}



.book-card {
  background: #cad5e8;                
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ccc;             
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.book-card h2 {
  margin-bottom: 10px;
}

.book-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
